In [1]:
# Abtract_Method

In [41]:
from abc import ABC, abstractmethod

In [47]:
class employee(ABC):
     @abstractmethod
     def calculate_salary(self):
        pass
     @abstractmethod
     def details(self):
        pass

In [53]:
class employees(employee):
    def __init__(self):
        self.name=input('enter name')
        self.salary=int(input('enter salary'))
        self.pf=self.salary*0.20
        self.calculate_salary()
    def calculate_salary(self):
        self.net_salary=self.salary+self.pf
        print(self.net_salary)
    def details(self):  
        print (f"name of employee is {self.name} and its salary is {self.net_salary}")

In [63]:
emp1 = employees()

enter name sourav
enter salary 1500000

1800000.0

In [65]:
emp1.details()

name of employee is sourav and its salary is 1800000.0

In [67]:
# exceptional Handling

In [71]:
try :
    a = int (input('num1'))
    b = int (input('num1'))
    print(a/b)
except (ZeroDivisionError):
    print('number cant be divided by 0')
except (valueError):
    print('enter number only')
finally :
    print('program end successfully')

num1 5
num1 0

number cant be divided by 0
program end successfully