In [11]:
import pandas as pd

In [13]:
import matplotlib.pyplot as plt

In [14]:
df = pd.read_csv("retail_store_sales.csv")

In [17]:

df

,Transaction ID,Customer ID,Category,Item,Price Per Unit,Quantity,Total Spent,Payment Method,Location,Transaction Date,Discount Applied
0,TXN_6867343,CUST_09,Patisserie,Item_10_PAT,18.5,10.0,185.0,Digital Wallet,Online,2024-04-08,True
1,TXN_3731986,CUST_22,Milk Products,Item_17_MILK,29.0,9.0,261.0,Digital Wallet,Online,2023-07-23,True
2,TXN_9303719,CUST_02,Butchers,Item_12_BUT,21.5,2.0,43.0,Credit Card,Online,2022-10-05,False
3,TXN_9458126,CUST_06,Beverages,Item_16_BEV,27.5,9.0,247.5,Credit Card,Online,2022-05-07,NaN
4,TXN_4575373,CUST_05,Food,Item_6_FOOD,12.5,7.0,87.5,Digital Wallet,Online,2022-10-02,False
...,...,...,...,...,...,...,...,...,...,...,...
12570,TXN_9347481,CUST_18,Patisserie,Item_23_PAT,38.0,4.0,152.0,Credit Card,In-store,2023-09-03,NaN
12571,TXN_4009414,CUST_03,Beverages,Item_2_BEV,6.5,9.0,58.5,Cash,Online,2022-08-12,False
12572,TXN_5306010,CUST_11,Butchers,Item_7_BUT,14.0,10.0,140.0,Cash,Online,2024-08-24,NaN
12573,TXN_5167298,CUST_04,Furniture,Item_7_FUR,14.0,6.0,84.0,Cash,Online,2023-12-30,True
12574,TXN_2407494,CUST_23,Food,Item_9_FOOD,17.0,3.0,51.0,Cash,Online,2022-08-06,NaN

In [19]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12575 entries, 0 to 12574
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Transaction ID    12575 non-null  object
 1   Customer ID       12575 non-null  object
 2   Category          12575 non-null  object
 3   Item              11362 non-null  object
 4   Price Per Unit    11966 non-null  float64
 5   Quantity          11971 non-null  float64
 6   Total Spent       11971 non-null  float64
 7   Payment Method    12575 non-null  object
 8   Location          12575 non-null  object
 9   Transaction Date  12575 non-null  object
 10  Discount Applied  8376 non-null   object
dtypes: float64(3), object(8)
memory usage: 1.1+ MB
None

In [21]:
df.head(10)

,Transaction ID,Customer ID,Category,Item,Price Per Unit,Quantity,Total Spent,Payment Method,Location,Transaction Date,Discount Applied
0,TXN_6867343,CUST_09,Patisserie,Item_10_PAT,18.5,10.0,185.0,Digital Wallet,Online,2024-04-08,True
1,TXN_3731986,CUST_22,Milk Products,Item_17_MILK,29.0,9.0,261.0,Digital Wallet,Online,2023-07-23,True
2,TXN_9303719,CUST_02,Butchers,Item_12_BUT,21.5,2.0,43.0,Credit Card,Online,2022-10-05,False
3,TXN_9458126,CUST_06,Beverages,Item_16_BEV,27.5,9.0,247.5,Credit Card,Online,2022-05-07,NaN
4,TXN_4575373,CUST_05,Food,Item_6_FOOD,12.5,7.0,87.5,Digital Wallet,Online,2022-10-02,False
5,TXN_7482416,CUST_09,Patisserie,NaN,NaN,10.0,200.0,Credit Card,Online,2023-11-30,NaN
6,TXN_3652209,CUST_07,Food,Item_1_FOOD,5.0,8.0,40.0,Credit Card,In-store,2023-06-10,True
7,TXN_1372952,CUST_21,Furniture,NaN,33.5,NaN,NaN,Digital Wallet,In-store,2024-04-02,True
8,TXN_9728486,CUST_23,Furniture,Item_16_FUR,27.5,1.0,27.5,Credit Card,In-store,2023-04-26,False
9,TXN_2722661,CUST_25,Butchers,Item_22_BUT,36.5,3.0,109.5,Cash,Online,2024-03-14,False

In [23]:
df.tail()

,Transaction ID,Customer ID,Category,Item,Price Per Unit,Quantity,Total Spent,Payment Method,Location,Transaction Date,Discount Applied
12570,TXN_9347481,CUST_18,Patisserie,Item_23_PAT,38.0,4.0,152.0,Credit Card,In-store,2023-09-03,NaN
12571,TXN_4009414,CUST_03,Beverages,Item_2_BEV,6.5,9.0,58.5,Cash,Online,2022-08-12,False
12572,TXN_5306010,CUST_11,Butchers,Item_7_BUT,14.0,10.0,140.0,Cash,Online,2024-08-24,NaN
12573,TXN_5167298,CUST_04,Furniture,Item_7_FUR,14.0,6.0,84.0,Cash,Online,2023-12-30,True
12574,TXN_2407494,CUST_23,Food,Item_9_FOOD,17.0,3.0,51.0,Cash,Online,2022-08-06,NaN

In [25]:
df.tail(20)

,Transaction ID,Customer ID,Category,Item,Price Per Unit,Quantity,Total Spent,Payment Method,Location,Transaction Date,Discount Applied
12555,TXN_9743446,CUST_24,Food,Item_13_FOOD,23.0,2.0,46.0,Cash,Online,2024-05-02,False
12556,TXN_4397672,CUST_04,Beverages,NaN,41.0,NaN,NaN,Credit Card,Online,2024-11-28,True
12557,TXN_7239201,CUST_24,Beverages,Item_25_BEV,41.0,10.0,410.0,Digital Wallet,In-store,2024-05-01,False
12558,TXN_6295698,CUST_12,Milk Products,Item_22_MILK,36.5,4.0,146.0,Cash,Online,2024-10-17,False
12559,TXN_5604451,CUST_08,Food,Item_21_FOOD,35.0,8.0,280.0,Cash,In-store,2023-12-28,True
12560,TXN_6972612,CUST_20,Electric household essentials,Item_12_EHE,21.5,8.0,172.0,Digital Wallet,Online,2024-10-14,True
12561,TXN_6960333,CUST_12,Computers and electric accessories,Item_17_CEA,29.0,2.0,58.0,Credit Card,Online,2024-12-12,True
12562,TXN_7422454,CUST_07,Butchers,NaN,33.5,NaN,NaN,Cash,Online,2023-04-15,NaN
12563,TXN_5394856,CUST_08,Patisserie,Item_17_PAT,29.0,2.0,58.0,Digital Wallet,Online,2024-10-24,True
12564,TXN_2153066,CUST_17,Electric household essentials,NaN,29.0,NaN,NaN,Digital Wallet,In-store,2024-03-28,False
12565,TXN_1712895,CUST_07,Computers and electric accessories,Item_2_CEA,6.5,5.0,32.5,Digital Wallet,In-store,2024-09-06,False
12566,TXN_6298574,CUST_01,Milk Products,Item_1_MILK,5.0,4.0,20.0,Cash,Online,2023-05-09,False
12567,TXN_4890318,CUST_25,Butchers,Item_3_BUT,8.0,5.0,40.0,Credit Card,In-store,2023-03-28,False
12568,TXN_1096134,CUST_06,Food,Item_4_FOOD,9.5,8.0,76.0,Digital Wallet,In-store,2022-06-11,NaN
12569,TXN_2318174,CUST_18,Patisserie,Item_1_PAT,5.0,9.0,45.0,Digital Wallet,In-store,2024-05-13,False
12570,TXN_9347481,CUST_18,Patisserie,Item_23_PAT,38.0,4.0,152.0,Credit Card,In-store,2023-09-03,NaN
12571,TXN_4009414,CUST_03,Beverages,Item_2_BEV,6.5,9.0,58.5,Cash,Online,2022-08-12,False
12572,TXN_5306010,CUST_11,Butchers,Item_7_BUT,14.0,10.0,140.0,Cash,Online,2024-08-24,NaN
12573,TXN_5167298,CUST_04,Furniture,Item_7_FUR,14.0,6.0,84.0,Cash,Online,2023-12-30,True
12574,TXN_2407494,CUST_23,Food,Item_9_FOOD,17.0,3.0,51.0,Cash,Online,2022-08-06,NaN

In [27]:
df.describe(include='all')

,Transaction ID,Customer ID,Category,Item,Price Per Unit,Quantity,Total Spent,Payment Method,Location,Transaction Date,Discount Applied
count,12575,12575,12575,11362,11966.000000,11971.000000,11971.000000,12575,12575,12575,8376
unique,12575,25,8,200,NaN,NaN,NaN,3,2,1114,2
top,TXN_6867343,CUST_05,Furniture,Item_2_BEV,NaN,NaN,NaN,Cash,Online,2022-05-30,True
freq,1,544,1591,126,NaN,NaN,NaN,4310,6354,26,4219
mean,NaN,NaN,NaN,NaN,23.365912,5.536380,129.652577,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,NaN,10.743519,2.857883,94.750697,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,NaN,5.000000,1.000000,5.000000,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,NaN,14.000000,3.000000,51.000000,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,NaN,23.000000,6.000000,108.500000,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,NaN,33.500000,8.000000,192.000000,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,NaN,41.000000,10.000000,410.000000,NaN,NaN,NaN,NaN

In [29]:
df.dtypes

Transaction ID       object
Customer ID          object
Category             object
Item                 object
Price Per Unit      float64
Quantity            float64
Total Spent         float64
Payment Method       object
Location             object
Transaction Date     object
Discount Applied     object
dtype: object

In [31]:
df[['Item', 'Quantity']].describe()

           Quantity
count  11971.000000
mean       5.536380
std        2.857883
min        1.000000
25%        3.000000
50%        6.000000
75%        8.000000
max       10.000000

In [33]:
set(['Item', 'Quantity']) <= set(df.columns)

True

In [35]:
df.describe()

       Price Per Unit      Quantity   Total Spent
count    11966.000000  11971.000000  11971.000000
mean        23.365912      5.536380    129.652577
std         10.743519      2.857883     94.750697
min          5.000000      1.000000      5.000000
25%         14.000000      3.000000     51.000000
50%         23.000000      6.000000    108.500000
75%         33.500000      8.000000    192.000000
max         41.000000     10.000000    410.000000

In [37]:
df.isnull()
#check empty cells in the whole data frame

,Transaction ID,Customer ID,Category,Item,Price Per Unit,Quantity,Total Spent,Payment Method,Location,Transaction Date,Discount Applied
0,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,True
4,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...
12570,False,False,False,False,False,False,False,False,False,False,True
12571,False,False,False,False,False,False,False,False,False,False,False
12572,False,False,False,False,False,False,False,False,False,False,True
12573,False,False,False,False,False,False,False,False,False,False,False
12574,False,False,False,False,False,False,False,False,False,False,True

In [39]:
df.isnull().sum() 
# count empty cells per column

Transaction ID         0
Customer ID            0
Category               0
Item                1213
Price Per Unit       609
Quantity             604
Total Spent          604
Payment Method         0
Location               0
Transaction Date       0
Discount Applied    4199
dtype: int64

In [41]:
df.isnull().sum().sum()
# totol number of empty cell in dataframe

7229

In [43]:
df[df.isnull().any(axis=1)] 
#Show rows that contain empty cells

,Transaction ID,Customer ID,Category,Item,Price Per Unit,Quantity,Total Spent,Payment Method,Location,Transaction Date,Discount Applied
3,TXN_9458126,CUST_06,Beverages,Item_16_BEV,27.5,9.0,247.5,Credit Card,Online,2022-05-07,NaN
5,TXN_7482416,CUST_09,Patisserie,NaN,NaN,10.0,200.0,Credit Card,Online,2023-11-30,NaN
7,TXN_1372952,CUST_21,Furniture,NaN,33.5,NaN,NaN,Digital Wallet,In-store,2024-04-02,True
11,TXN_5422631,CUST_09,Milk Products,NaN,NaN,8.0,52.0,Digital Wallet,In-store,2025-01-12,True
14,TXN_2490363,CUST_09,Milk Products,Item_16_MILK,27.5,2.0,55.0,Digital Wallet,Online,2022-05-22,NaN
...,...,...,...,...,...,...,...,...,...,...,...
12564,TXN_2153066,CUST_17,Electric household essentials,NaN,29.0,NaN,NaN,Digital Wallet,In-store,2024-03-28,False
12568,TXN_1096134,CUST_06,Food,Item_4_FOOD,9.5,8.0,76.0,Digital Wallet,In-store,2022-06-11,NaN
12570,TXN_9347481,CUST_18,Patisserie,Item_23_PAT,38.0,4.0,152.0,Credit Card,In-store,2023-09-03,NaN
12572,TXN_5306010,CUST_11,Butchers,Item_7_BUT,14.0,10.0,140.0,Cash,Online,2024-08-24,NaN
12574,TXN_2407494,CUST_23,Food,Item_9_FOOD,17.0,3.0,51.0,Cash,Online,2022-08-06,NaN

In [45]:
df['Price Per Unit'].isnull()
#Check empty cells in a specific column

0        False
1        False
2        False
3        False
4        False
         ...
12570    False
12571    False
12572    False
12573    False
12574    False
Name: Price Per Unit, Length: 12575, dtype: bool

In [47]:
df['Category'].str.strip() == ""
#  Check spaces-only cells (" ")

0        False
1        False
2        False
3        False
4        False
         ...
12570    False
12571    False
12572    False
12573    False
12574    False
Name: Category, Length: 12575, dtype: bool

In [49]:
df['Category'] == ""
#  Check empty strings (""), not NaN

0        False
1        False
2        False
3        False
4        False
         ...
12570    False
12571    False
12572    False
12573    False
12574    False
Name: Category, Length: 12575, dtype: bool

In [51]:
df.describe()

       Price Per Unit      Quantity   Total Spent
count    11966.000000  11971.000000  11971.000000
mean        23.365912      5.536380    129.652577
std         10.743519      2.857883     94.750697
min          5.000000      1.000000      5.000000
25%         14.000000      3.000000     51.000000
50%         23.000000      6.000000    108.500000
75%         33.500000      8.000000    192.000000
max         41.000000     10.000000    410.000000

In [53]:
!pip install ydata-profiling

Requirement already satisfied: ydata-profiling in c:\users\sorav\anaconda3\lib\site-packages (4.18.1)
Requirement already satisfied: scipy<1.17,>=1.8 in c:\users\sorav\anaconda3\lib\site-packages (from ydata-profiling) (1.13.1)
Requirement already satisfied: pandas!=1.4.0,<3.0,>1.5 in c:\users\sorav\anaconda3\lib\site-packages (from ydata-profiling) (2.2.2)
Requirement already satisfied: matplotlib<=3.10,>=3.5 in c:\users\sorav\anaconda3\lib\site-packages (from ydata-profiling) (3.9.2)
Requirement already satisfied: pydantic<3,>=2 in c:\users\sorav\anaconda3\lib\site-packages (from ydata-profiling) (2.8.2)
Requirement already satisfied: PyYAML<6.1,>=6.0.3 in c:\users\sorav\anaconda3\lib\site-packages (from ydata-profiling) (6.0.3)
Requirement already satisfied: jinja2<3.2,>=3.1.6 in c:\users\sorav\anaconda3\lib\site-packages (from ydata-profiling) (3.1.6)
Requirement already satisfied: visions<0.8.2,>=0.7.5 in c:\users\sorav\anaconda3\lib\site-packages (from visions[type_image_path]<0.8.2,>=0.7.5->ydata-profiling) (0.8.1)
Requirement already satisfied: numpy<2.4,>=1.22 in c:\users\sorav\anaconda3\lib\site-packages (from ydata-profiling) (1.26.4)
Requirement already satisfied: minify-html>=0.15.0 in c:\users\sorav\anaconda3\lib\site-packages (from ydata-profiling) (0.18.1)
Requirement already satisfied: filetype>=1.0.0 in c:\users\sorav\anaconda3\lib\site-packages (from ydata-profiling) (1.2.0)
Requirement already satisfied: phik<0.13,>=0.12.5 in c:\users\sorav\anaconda3\lib\site-packages (from ydata-profiling) (0.12.5)
Requirement already satisfied: requests<3,>=2.32.0 in c:\users\sorav\anaconda3\lib\site-packages (from ydata-profiling) (2.32.3)
Requirement already satisfied: tqdm<5,>=4.66.3 in c:\users\sorav\anaconda3\lib\site-packages (from ydata-profiling) (4.66.5)
Requirement already satisfied: seaborn<0.14,>=0.10.1 in c:\users\sorav\anaconda3\lib\site-packages (from ydata-profiling) (0.13.2)
Requirement already satisfied: multimethod<2,>=1.4 in c:\users\sorav\anaconda3\lib\site-packages (from ydata-profiling) (1.12)
Requirement already satisfied: statsmodels<1,>=0.13.2 in c:\users\sorav\anaconda3\lib\site-packages (from ydata-profiling) (0.14.2)
Requirement already satisfied: typeguard<5,>=4 in c:\users\sorav\anaconda3\lib\site-packages (from ydata-profiling) (4.4.4)
Requirement already satisfied: imagehash==4.3.2 in c:\users\sorav\anaconda3\lib\site-packages (from ydata-profiling) (4.3.2)
Requirement already satisfied: wordcloud>=1.9.4 in c:\users\sorav\anaconda3\lib\site-packages (from ydata-profiling) (1.9.6)
Requirement already satisfied: dacite<2,>=1.9 in c:\users\sorav\anaconda3\lib\site-packages (from ydata-profiling) (1.9.2)
Requirement already satisfied: numba<0.63,>=0.60 in c:\users\sorav\anaconda3\lib\site-packages (from ydata-profiling) (0.60.0)
Requirement already satisfied: PyWavelets in c:\users\sorav\anaconda3\lib\site-packages (from imagehash==4.3.2->ydata-profiling) (1.7.0)
Requirement already satisfied: pillow in c:\users\sorav\anaconda3\lib\site-packages (from imagehash==4.3.2->ydata-profiling) (10.4.0)
Requirement already satisfied: MarkupSafe>=2.0 in c:\users\sorav\anaconda3\lib\site-packages (from jinja2<3.2,>=3.1.6->ydata-profiling) (2.1.3)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\sorav\anaconda3\lib\site-packages (from matplotlib<=3.10,>=3.5->ydata-profiling) (1.2.0)
Requirement already satisfied: cycler>=0.10 in c:\users\sorav\anaconda3\lib\site-packages (from matplotlib<=3.10,>=3.5->ydata-profiling) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\sorav\anaconda3\lib\site-packages (from matplotlib<=3.10,>=3.5->ydata-profiling) (4.51.0)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\sorav\anaconda3\lib\site-packages (from matplotlib<=3.10,>=3.5->ydata-profiling) (1.4.4)
Requirement already satisfied: packaging>=20.0 in c:\users\sorav\anaconda3\lib\site-packages (from matplotlib<=3.10,>=3.5->ydata-profiling) (24.1)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\sorav\anaconda3\lib\site-packages (from matplotlib<=3.10,>=3.5->ydata-profiling) (3.1.2)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\sorav\anaconda3\lib\site-packages (from matplotlib<=3.10,>=3.5->ydata-profiling) (2.9.0.post0)
Requirement already satisfied: llvmlite<0.44,>=0.43.0dev0 in c:\users\sorav\anaconda3\lib\site-packages (from numba<0.63,>=0.60->ydata-profiling) (0.43.0)
Requirement already satisfied: pytz>=2020.1 in c:\users\sorav\anaconda3\lib\site-packages (from pandas!=1.4.0,<3.0,>1.5->ydata-profiling) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\sorav\anaconda3\lib\site-packages (from pandas!=1.4.0,<3.0,>1.5->ydata-profiling) (2023.3)
Requirement already satisfied: joblib>=0.14.1 in c:\users\sorav\anaconda3\lib\site-packages (from phik<0.13,>=0.12.5->ydata-profiling) (1.4.2)
Requirement already satisfied: annotated-types>=0.4.0 in c:\users\sorav\anaconda3\lib\site-packages (from pydantic<3,>=2->ydata-profiling) (0.6.0)
Requirement already satisfied: pydantic-core==2.20.1 in c:\users\sorav\anaconda3\lib\site-packages (from pydantic<3,>=2->ydata-profiling) (2.20.1)
Requirement already satisfied: typing-extensions>=4.6.1 in c:\users\sorav\anaconda3\lib\site-packages (from pydantic<3,>=2->ydata-profiling) (4.15.0)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\sorav\anaconda3\lib\site-packages (from requests<3,>=2.32.0->ydata-profiling) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\sorav\anaconda3\lib\site-packages (from requests<3,>=2.32.0->ydata-profiling) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\sorav\anaconda3\lib\site-packages (from requests<3,>=2.32.0->ydata-profiling) (2.2.3)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\sorav\anaconda3\lib\site-packages (from requests<3,>=2.32.0->ydata-profiling) (2025.1.31)
Requirement already satisfied: patsy>=0.5.6 in c:\users\sorav\anaconda3\lib\site-packages (from statsmodels<1,>=0.13.2->ydata-profiling) (0.5.6)
Requirement already satisfied: colorama in c:\users\sorav\anaconda3\lib\site-packages (from tqdm<5,>=4.66.3->ydata-profiling) (0.4.6)
Requirement already satisfied: attrs>=19.3.0 in c:\users\sorav\anaconda3\lib\site-packages (from visions<0.8.2,>=0.7.5->visions[type_image_path]<0.8.2,>=0.7.5->ydata-profiling) (23.1.0)
Requirement already satisfied: networkx>=2.4 in c:\users\sorav\anaconda3\lib\site-packages (from visions<0.8.2,>=0.7.5->visions[type_image_path]<0.8.2,>=0.7.5->ydata-profiling) (3.3)
Requirement already satisfied: puremagic in c:\users\sorav\anaconda3\lib\site-packages (from visions<0.8.2,>=0.7.5->visions[type_image_path]<0.8.2,>=0.7.5->ydata-profiling) (1.30)
Requirement already satisfied: six in c:\users\sorav\anaconda3\lib\site-packages (from patsy>=0.5.6->statsmodels<1,>=0.13.2->ydata-profiling) (1.16.0)

In [54]:
!pip install --upgrade ipywidgets
!pip install --upgrade ydata-profiling

Requirement already satisfied: ipywidgets in c:\users\sorav\anaconda3\lib\site-packages (8.1.8)
Requirement already satisfied: comm>=0.1.3 in c:\users\sorav\anaconda3\lib\site-packages (from ipywidgets) (0.2.1)
Requirement already satisfied: ipython>=6.1.0 in c:\users\sorav\anaconda3\lib\site-packages (from ipywidgets) (8.27.0)
Requirement already satisfied: traitlets>=4.3.1 in c:\users\sorav\anaconda3\lib\site-packages (from ipywidgets) (5.14.3)
Requirement already satisfied: widgetsnbextension~=4.0.14 in c:\users\sorav\anaconda3\lib\site-packages (from ipywidgets) (4.0.15)
Requirement already satisfied: jupyterlab_widgets~=3.0.15 in c:\users\sorav\anaconda3\lib\site-packages (from ipywidgets) (3.0.16)
Requirement already satisfied: decorator in c:\users\sorav\anaconda3\lib\site-packages (from ipython>=6.1.0->ipywidgets) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\sorav\anaconda3\lib\site-packages (from ipython>=6.1.0->ipywidgets) (0.19.1)
Requirement already satisfied: matplotlib-inline in c:\users\sorav\anaconda3\lib\site-packages (from ipython>=6.1.0->ipywidgets) (0.1.6)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in c:\users\sorav\anaconda3\lib\site-packages (from ipython>=6.1.0->ipywidgets) (3.0.43)
Requirement already satisfied: pygments>=2.4.0 in c:\users\sorav\anaconda3\lib\site-packages (from ipython>=6.1.0->ipywidgets) (2.15.1)
Requirement already satisfied: stack-data in c:\users\sorav\anaconda3\lib\site-packages (from ipython>=6.1.0->ipywidgets) (0.2.0)
Requirement already satisfied: colorama in c:\users\sorav\anaconda3\lib\site-packages (from ipython>=6.1.0->ipywidgets) (0.4.6)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in c:\users\sorav\anaconda3\lib\site-packages (from jedi>=0.16->ipython>=6.1.0->ipywidgets) (0.8.3)
Requirement already satisfied: wcwidth in c:\users\sorav\anaconda3\lib\site-packages (from prompt-toolkit<3.1.0,>=3.0.41->ipython>=6.1.0->ipywidgets) (0.2.5)
Requirement already satisfied: executing in c:\users\sorav\anaconda3\lib\site-packages (from stack-data->ipython>=6.1.0->ipywidgets) (0.8.3)
Requirement already satisfied: asttokens in c:\users\sorav\anaconda3\lib\site-packages (from stack-data->ipython>=6.1.0->ipywidgets) (2.0.5)
Requirement already satisfied: pure-eval in c:\users\sorav\anaconda3\lib\site-packages (from stack-data->ipython>=6.1.0->ipywidgets) (0.2.2)
Requirement already satisfied: six in c:\users\sorav\anaconda3\lib\site-packages (from asttokens->stack-data->ipython>=6.1.0->ipywidgets) (1.16.0)
Requirement already satisfied: ydata-profiling in c:\users\sorav\anaconda3\lib\site-packages (4.18.1)
Requirement already satisfied: scipy<1.17,>=1.8 in c:\users\sorav\anaconda3\lib\site-packages (from ydata-profiling) (1.13.1)
Requirement already satisfied: pandas!=1.4.0,<3.0,>1.5 in c:\users\sorav\anaconda3\lib\site-packages (from ydata-profiling) (2.2.2)
Requirement already satisfied: matplotlib<=3.10,>=3.5 in c:\users\sorav\anaconda3\lib\site-packages (from ydata-profiling) (3.9.2)
Requirement already satisfied: pydantic<3,>=2 in c:\users\sorav\anaconda3\lib\site-packages (from ydata-profiling) (2.8.2)
Requirement already satisfied: PyYAML<6.1,>=6.0.3 in c:\users\sorav\anaconda3\lib\site-packages (from ydata-profiling) (6.0.3)
Requirement already satisfied: jinja2<3.2,>=3.1.6 in c:\users\sorav\anaconda3\lib\site-packages (from ydata-profiling) (3.1.6)
Requirement already satisfied: visions<0.8.2,>=0.7.5 in c:\users\sorav\anaconda3\lib\site-packages (from visions[type_image_path]<0.8.2,>=0.7.5->ydata-profiling) (0.8.1)
Requirement already satisfied: numpy<2.4,>=1.22 in c:\users\sorav\anaconda3\lib\site-packages (from ydata-profiling) (1.26.4)
Requirement already satisfied: minify-html>=0.15.0 in c:\users\sorav\anaconda3\lib\site-packages (from ydata-profiling) (0.18.1)
Requirement already satisfied: filetype>=1.0.0 in c:\users\sorav\anaconda3\lib\site-packages (from ydata-profiling) (1.2.0)
Requirement already satisfied: phik<0.13,>=0.12.5 in c:\users\sorav\anaconda3\lib\site-packages (from ydata-profiling) (0.12.5)
Requirement already satisfied: requests<3,>=2.32.0 in c:\users\sorav\anaconda3\lib\site-packages (from ydata-profiling) (2.32.3)
Requirement already satisfied: tqdm<5,>=4.66.3 in c:\users\sorav\anaconda3\lib\site-packages (from ydata-profiling) (4.66.5)
Requirement already satisfied: seaborn<0.14,>=0.10.1 in c:\users\sorav\anaconda3\lib\site-packages (from ydata-profiling) (0.13.2)
Requirement already satisfied: multimethod<2,>=1.4 in c:\users\sorav\anaconda3\lib\site-packages (from ydata-profiling) (1.12)
Requirement already satisfied: statsmodels<1,>=0.13.2 in c:\users\sorav\anaconda3\lib\site-packages (from ydata-profiling) (0.14.2)
Requirement already satisfied: typeguard<5,>=4 in c:\users\sorav\anaconda3\lib\site-packages (from ydata-profiling) (4.4.4)
Requirement already satisfied: imagehash==4.3.2 in c:\users\sorav\anaconda3\lib\site-packages (from ydata-profiling) (4.3.2)
Requirement already satisfied: wordcloud>=1.9.4 in c:\users\sorav\anaconda3\lib\site-packages (from ydata-profiling) (1.9.6)
Requirement already satisfied: dacite<2,>=1.9 in c:\users\sorav\anaconda3\lib\site-packages (from ydata-profiling) (1.9.2)
Requirement already satisfied: numba<0.63,>=0.60 in c:\users\sorav\anaconda3\lib\site-packages (from ydata-profiling) (0.60.0)
Requirement already satisfied: PyWavelets in c:\users\sorav\anaconda3\lib\site-packages (from imagehash==4.3.2->ydata-profiling) (1.7.0)
Requirement already satisfied: pillow in c:\users\sorav\anaconda3\lib\site-packages (from imagehash==4.3.2->ydata-profiling) (10.4.0)
Requirement already satisfied: MarkupSafe>=2.0 in c:\users\sorav\anaconda3\lib\site-packages (from jinja2<3.2,>=3.1.6->ydata-profiling) (2.1.3)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\sorav\anaconda3\lib\site-packages (from matplotlib<=3.10,>=3.5->ydata-profiling) (1.2.0)
Requirement already satisfied: cycler>=0.10 in c:\users\sorav\anaconda3\lib\site-packages (from matplotlib<=3.10,>=3.5->ydata-profiling) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\sorav\anaconda3\lib\site-packages (from matplotlib<=3.10,>=3.5->ydata-profiling) (4.51.0)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\sorav\anaconda3\lib\site-packages (from matplotlib<=3.10,>=3.5->ydata-profiling) (1.4.4)
Requirement already satisfied: packaging>=20.0 in c:\users\sorav\anaconda3\lib\site-packages (from matplotlib<=3.10,>=3.5->ydata-profiling) (24.1)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\sorav\anaconda3\lib\site-packages (from matplotlib<=3.10,>=3.5->ydata-profiling) (3.1.2)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\sorav\anaconda3\lib\site-packages (from matplotlib<=3.10,>=3.5->ydata-profiling) (2.9.0.post0)
Requirement already satisfied: llvmlite<0.44,>=0.43.0dev0 in c:\users\sorav\anaconda3\lib\site-packages (from numba<0.63,>=0.60->ydata-profiling) (0.43.0)
Requirement already satisfied: pytz>=2020.1 in c:\users\sorav\anaconda3\lib\site-packages (from pandas!=1.4.0,<3.0,>1.5->ydata-profiling) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\sorav\anaconda3\lib\site-packages (from pandas!=1.4.0,<3.0,>1.5->ydata-profiling) (2023.3)
Requirement already satisfied: joblib>=0.14.1 in c:\users\sorav\anaconda3\lib\site-packages (from phik<0.13,>=0.12.5->ydata-profiling) (1.4.2)
Requirement already satisfied: annotated-types>=0.4.0 in c:\users\sorav\anaconda3\lib\site-packages (from pydantic<3,>=2->ydata-profiling) (0.6.0)
Requirement already satisfied: pydantic-core==2.20.1 in c:\users\sorav\anaconda3\lib\site-packages (from pydantic<3,>=2->ydata-profiling) (2.20.1)
Requirement already satisfied: typing-extensions>=4.6.1 in c:\users\sorav\anaconda3\lib\site-packages (from pydantic<3,>=2->ydata-profiling) (4.15.0)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\sorav\anaconda3\lib\site-packages (from requests<3,>=2.32.0->ydata-profiling) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\sorav\anaconda3\lib\site-packages (from requests<3,>=2.32.0->ydata-profiling) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\sorav\anaconda3\lib\site-packages (from requests<3,>=2.32.0->ydata-profiling) (2.2.3)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\sorav\anaconda3\lib\site-packages (from requests<3,>=2.32.0->ydata-profiling) (2025.1.31)
Requirement already satisfied: patsy>=0.5.6 in c:\users\sorav\anaconda3\lib\site-packages (from statsmodels<1,>=0.13.2->ydata-profiling) (0.5.6)
Requirement already satisfied: colorama in c:\users\sorav\anaconda3\lib\site-packages (from tqdm<5,>=4.66.3->ydata-profiling) (0.4.6)
Requirement already satisfied: attrs>=19.3.0 in c:\users\sorav\anaconda3\lib\site-packages (from visions<0.8.2,>=0.7.5->visions[type_image_path]<0.8.2,>=0.7.5->ydata-profiling) (23.1.0)
Requirement already satisfied: networkx>=2.4 in c:\users\sorav\anaconda3\lib\site-packages (from visions<0.8.2,>=0.7.5->visions[type_image_path]<0.8.2,>=0.7.5->ydata-profiling) (3.3)
Requirement already satisfied: puremagic in c:\users\sorav\anaconda3\lib\site-packages (from visions<0.8.2,>=0.7.5->visions[type_image_path]<0.8.2,>=0.7.5->ydata-profiling) (1.30)
Requirement already satisfied: six in c:\users\sorav\anaconda3\lib\site-packages (from patsy>=0.5.6->statsmodels<1,>=0.13.2->ydata-profiling) (1.16.0)

In [55]:
from ydata_profiling import ProfileReport

profile = ProfileReport(
    df,
    explorative=True,
    minimal=True
)

profile.to_file("FULL_DATAFRAME_INDIVAL_REPORTS.html")

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

  0%|                                                                                                                               | 0/11 [00:00<?, ?it/s]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 11/11 [00:00<00:00, 50.74it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

In [56]:
import os
os.path.exists("FULL_DATAFRAME_INDIVAL_REPORTS.html")

True

In [57]:
import webbrowser
webbrowser.open("FULL_DATAFRAME_INDIVAL_REPORTS.html")

True

In [58]:
df = df.dropna(how = 'all')
# that query remove full row is it empty

In [59]:
df.isna().all(axis=1).sum()
# check all empty row remove

0

In [60]:
bad_values = ['ERROR', 'UNKNOWN', 'Unknown', 'error', '', ' ']

cols = ['Item', 'Price Per Unit', 'Quantity','Total Spent','Discount Applied']

for col in cols:
    df[col] = df[col].replace(bad_values, pd.NA)
# Standardize (make all bad values uniform)
# Before recovery, convert everything bad into real NaN.
    
# âœ… Now pandas clearly knows what is missing
# (This is a mandatory professional step)

In [61]:
df['Item'] = df.groupby('Category')['Item'].transform(
    lambda x: x.fillna(x.mode().iloc[0]) if not x.mode().empty else x
)
#Recover data using logic (this is the core skill)
#ðŸ”¹1.Recover Item using Category (best beginner logic)
# If Category â†’ Item relationship exists:

# ðŸ§  Why companies like this:
# Category is stable
# No guessing
# Data-driven recovery

In [62]:
df['Payment Method'] = df.groupby('Customer ID')['Payment Method'].transform(
    lambda x: x.fillna(x.mode().iloc[0]) if not x.mode().empty else x
)
# 2.Recover Payment Method using Customer behavior
# Customers often use the same payment method repeatedly

# âœ” Very realistic business logic
#âœ” Used in retail & fintech datasets

In [63]:
df['Location'] = df.groupby('Item')['Location'].transform(
    lambda x: x.fillna(x.mode().iloc[0]) if not x.mode().empty else x
)
# 3. Recover Location using Item
# Some items are mostly:

# Online
# In-store

In [64]:
df[['Item', 'Payment Method', 'Location']] = df[
    ['Item', 'Payment Method', 'Location']
].fillna('UNRESOLVED')
# 3ï¸âƒ£ Explicit labeling (never hide uncertainty)

# After all logical recovery, some values may still be missing.
# Companies want them clearly labeled, not silently filled.

# â€œIf you donâ€™t know it for sure, label it clearly.â€

In [65]:
# Final Validation (company expects this)
df[['Item', 'Payment Method', 'Location']].isna().sum()

Item              0
Payment Method    0
Location          0
dtype: int64

In [66]:
df.isnull().sum()

Transaction ID         0
Customer ID            0
Category               0
Item                   0
Price Per Unit       609
Quantity             604
Total Spent          604
Payment Method         0
Location               0
Transaction Date       0
Discount Applied    4199
dtype: int64

In [67]:
for i in range (10,1,-2):
    print(i)

10
8
6
4
2

In [ ]:
num = int(input())
for i in range(2,11,1):
     print(num, "X",i,"=",(i*num))

In [ ]:
num = int(input())
for i in range(2,11,1):
     print(f"{num}X{i}={i*num}")

In [ ]:
list1= ["king","queen","hukam","navjot"]

In [ ]:
print(list1)

In [ ]:
a= 1
for x in list1:
    print(a,x)
    a +=1

In [ ]:
for i in range (2,10):
    for j in range(1,10):
        print(F"{i} x {j}= {i*j}")

In [ ]:
num1 = int(input('num1'))
num2 = int(input('num2'))

for i in range (num1,num2+1):
    for j in range(1,11): 
        print(F"{i} x {j}= {i*j}")

In [ ]:
num1 =int(input())
if num1 % 2 == 0:
    for i in range (1,11):
         print(f"{num1} x {i} = {i*num1}")
else:
     print("odd")

In [ ]:
start= int(input())
end = int(input())
if start % 2 == 0  and end % 2 == 1 :
    for i in range (start,end+1):
        for j in range (1,11):
            print (f"{i} X {j} = {i *j}")
else :
    print("enter the coorect sequence")

In [ ]:
list1= ["Sourav","navjot","neerav",]
list2= ["Sourav","navjot","neerav",]
list3= ["Sourav","navjot","neerav",]
list4= ["Sourav","navjot","neerav",]
list5= ["Sourav","navjot","neerav",]

In [ ]:
for i in list5:
    print(list5)

In [ ]:
for i in range (1,10):
    for j in range (i):
        print("*", end = ' ')
    print()
for i in range (10,0,-1):
    for j in range (i):
        print("*", end = ' ')
    print()

In [ ]:
m = 5 
n = 6
for i  in range (1,n+1):
      for space in range(n-i):
          print(' ',end=' ')
      for star in range(i):
          print('*', end=' ')
      print() 
for i in range(m,0,-1):
   for space in range(n-i):
         print(' ',end=' ')
   for star in range(i):
         print('*',end=' ')
   print()

In [ ]:
for i in range (1,5):
     for j in range(1,i+1):
         print(j,end='')
     print()

In [ ]:
for i in range (1,5):
    for j in range(1,i+1):
        print(i,end = ' ')
    print()

In [ ]:
num = 1
for i in range (1,5):
    for j in range (i):
        print(num, end='')
        num+=1
    print()

In [ ]:
n = 5 
for i in range(1,n+1):
    print(" "*(n-i), end=' ')
    print("* "*i)

In [ ]:
n = 6
m = 5
for i in range(1,n+1):
    print(" "*(n-i), end=' ')
    print("* "*i)
for i in range(m,0,-1):
    print(" "*(n-i), end=' ')
    print("* "*i)

In [ ]:
password =""
while password!="123456789":
    print('enter coorect password')
    password=input('enter password')
print("access granted")

In [ ]:
import time

In [ ]:
i = int(input())
while i > -1:
    print(i)
    time.sleep(1)
    i-=1
print("-----kaboom-----")

In [ ]:
for i in range (1,10):
    if i == 6:
        continue
    print(i)

In [ ]:
for i in range (1,100):
    if i == 6:
     break
    print(i)

In [ ]:
for i in range(1,100):
    if  i % 7 != 0:
        continue
    print(i)

In [ ]:
import random

In [ ]:
import random
while True:
    secret= random.randint(1,6)
    guess=int(input())
    if guess == secret:
        print('you won')
        break

In [ ]:
attempts = 0
while attempts <3:
    pwd=input('enter password')
    if pwd == 'admin':
        print('login success')
        break
    attempts+=1
else:
    print('account locked')

In [ ]:
i = 1
while i <5 :
     print("loading"+","*i)
     time.sleep(1)
     i+=1
print ("loaded")

In [ ]:
#Function
def greet1(name):
    print(f"hello {name} good morning how are you")

In [ ]:
greet1('sourav')

In [ ]:
greet1("paritosh")

In [ ]:
def calc(a,b):
    print(a+b)

In [ ]:
calc(2,5)

In [ ]:
calc(45,55)

In [ ]:
# set the default value then miss the argument

In [ ]:
def calc1(a,b,c=0):
    print(a+b+c)

In [ ]:
calc1(2,3)

In [ ]:
def calc2(a,b,c):
    d=a+b+c
    d=d/3
    print(d)

In [ ]:
calc2(2,3,4)

In [ ]:
def greet2(name):
    return f"hello {name} good morining"

In [ ]:
aa = greet2("sourav")

In [ ]:
print(aa)

In [ ]:
#suquare
def saq(a):
    print(a**2)

In [ ]:
saq(5)

In [ ]:
def table(num):
    for i in range(2,11):
        print(f"{num} X {i}= {i*num}")

In [ ]:
table(5)

In [115]:
def table():
    num=int(input())
    result=[]
    for i in range(2,11):
        result.append(f"{num} X {i} = {i*num}")
     return result

In [120]:
hh=table()

 5

In [128]:

for i in hh:
    print(i)

TypeError: 'str' object is not callable

In [130]:
def multiple(a,b):
    return a+b,a*b

In [132]:
az = multiple(2,3)

In [134]:
print(az)

(5, 6)

In [136]:
a,z=multiple(2,6)

In [138]:
print(a,z)

8 12

In [140]:
type(az)

tuple

In [142]:
def calc22(*args):
    ssum=0
    for i in args:
        ssum+=i
    return ssum

In [144]:
calc22(2,3,4,5,6,8,4,5,4,5)

46

In [159]:
# count average above code:
def calc22(*args):
    ssum=0
    length=0
    for i in args:
        ssum+=i
    length=len(args)
    print(length,ssum)
    return ssum/length

In [161]:
calc22(2,2,5,5,4,8,9,7,2)

9 44

4.888888888888889

In [25]:
# nested function
def add(a,b):
     print(a+b)
     
def sub(a,b):
    print(a-b)
     
def mul(a,b):
     print(a*b)

In [7]:
ops=['+', '-', '*']

In [9]:
print('calculator')
choice=input("enter choice")
num1=int(input('num1'))
num2=int(input('num2'))
if choice == 'add':
    add(num1,num2)
elif choice == 'sub':
    sub(num1,num2)
elif choice == 'mul':
    sub(num1,num2)
else :
    print('your choice is wrong')

calculator

enter choice add
num1 5
num2 5

NameError: name 'add' is not defined

In [31]:
print('calculator')
print(f"+ for addition")
print(f"- for subtraction")
print(f"* for multiplication")
num1=int(input('num1'))
num2=int(input('num2'))
choice=input('enter your op +, - or *')
if choice in ops:
    if choice == '+':
        add(num1, num2)
    elif choice == '-':
        sub(num1, num2)
    elif choice == '*':
        mul(num1, num2)
else:
    print('enter correct choice')

calculator
+ for addition
- for subtraction
* for multiplication

num1 5
num2 5
enter your op +, - or * +

10

In [3]:
def new_calc():
    print('calculator')
    print(f"+ for addition")
    print(f"- for subtraction")
    print(f"* for multiplication")
    num1=int(input('num1'))
    num2=int(input('num2'))
    choice=input('enter your op +, - or *')
    if choice in ops:
        if choice == '+':
            add(num1, num2)
        elif choice == '-':
            sub(num1, num2)
        elif choice == '*':
            mul(num1, num2)
    else:
        print('enter correct choice')

In [5]:
new_calc()

calculator
+ for addition
- for subtraction
* for multiplication

num1 5
num2 5
enter your op +, - or * -

NameError: name 'ops' is not defined

In [33]:
import re

In [39]:
text = "my number is 7696091394"

In [45]:
result= re .search(r"\d{10}",text)
print (result.group())

7696091394

In [51]:
number=result.group()

In [53]:
number = int(number)

In [55]:
type(number)

int

In [57]:
number

7696091394

In [104]:
message = "i have got 77 marks in english and 55 in math and 89 in science"

In [106]:
marks = re.findall(r"\d+",message)

In [108]:
print(marks)

['77', '55', '89']

In [110]:
type(marks)

list

In [112]:
# string convert into int 
total = 0
a = 0
for i in marks:
    a = int(i)
    total += a
print(total)

221

In [114]:
re.sub("\d","*",message)

<>:1: SyntaxWarning: invalid escape sequence '\d'
<>:1: SyntaxWarning: invalid escape sequence '\d'
C:\Users\Sorav\AppData\Local\Temp\ipykernel_11612\1900303582.py:1: SyntaxWarning: invalid escape sequence '\d'
  re.sub("\d","*",message)

'i have got ** marks in english and ** in math and ** in science'

In [116]:
message

'i have got 77 marks in english and 55 in math and 89 in science'

In [120]:
re.match(r"\d+","123abc")

In [122]:
re.split(r"\s+",message)

['i',
 'have',
 'got',
 '77',
 'marks',
 'in',
 'english',
 'and',
 '55',
 'in',
 'math',
 'and',
 '89',
 'in',
 'science']

In [124]:
password =  input("enter pass")
pattern=r"^(?=.*[A-Z])(?=.*\d)(?=.*\d)(?=.*[!@#$%^&()])"

enter pass 564

In [134]:
# lambda

In [136]:
list(map(lambda X: "even" if x % 2==0 else "odd",nums))

NameError: name 'x' is not defined

In [128]:
#MAP

In [130]:
nums = [2,3,54,4,5]

In [132]:
list(map(sqr,nums))

NameError: name 'sqr' is not defined

In [138]:
# filter

In [140]:
list(filter(lambda X: X % 2 ==1,marks))

TypeError: not all arguments converted during string formatting

In [ ]:
# file Handling

In [45]:
file = open('CGC_Winter.txt','w')

In [47]:
file.write('\nthis is new line')

17

In [51]:
file.close()

In [55]:
file = ('CGC_Winter.txt','r')